<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--Domain Settings-->
    <add key="Url" value="calvi-develop" />

    <!--User Settings-->
    <add key="Username" value="demo-all-nl" />
    <add key="Password" value="F5H3Z7" />

    <!--Proxy Settings-->
    <add key="UseProxy" value="False" />
    <add key="ProxyDomain" value="127.0.0.1" />
    <add key="ProxyPort" value="8080" />

    <!--Database Settings-->
    <add key="Server" value="calvi-test-env.cloudapp.net,51433" />
    <add key="UserId" value="DEMO42USER" />
    <add key="UserPassword" value="gbgAuNkEzWFEJykwWM2Wj4wQ" />
  </appSettings>
</configuration>