<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--Domain Settings-->
    <add key="Url" value="dummy" />

    <!--User Settings-->
    <add key="Username" value="****" />
    <add key="Password" value="****" />

    <!--Proxy Settings-->
    <add key="UseProxy" value="False" />
    <add key="ProxyDomain" value="127.0.0.1" />
    <add key="ProxyPort" value="8080" />

    <!--Database Settings-->
    <add key="Server" value="****" />
    <add key="UserId" value="****" />
    <add key="UserPassword" value="****" />
  </appSettings>
</configuration>